@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap';

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(90deg, #7d5fff, #7168e2);
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.search {
	position: relative;
	height: 50px;
	.input {
		background-color: #fff;
		border: 0ch;
		font-size: 18px;
		padding: 15px;
		height: 50px;
		width: 50px;
		transition: width 300ms ease;
	}
	&.active {
		.input {
			width: 200px;
		}
		.btn {
			transform: translateX(200px - 0px);
		}
	}
}

.input {
	&:focus {
		outline: none;
	}
}

.btn {
	background-color: #fff;
	border: 0;
	cursor: pointer;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	transition: transform 300ms ease;
	&:focus {
		outline: none;
	}
}
